version: '3.9'
services:
  postgres:
    image: 'postgres:16'
    restart: always
    environment:
      POSTGRES_USER: '${DB_USERNAME}'
      POSTGRES_PASSWORD: '${DB_PASSWORD}'
      POSTGRES_DB: '${DB_NAME}'
    ports:
      - '${DB_PORT}:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./pg_backups:/pgadmin/backups
    networks:
      - backend

  pgadmin:
    image: dpage/pgadmin4:latest
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: '${PGADMIN_EMAIL:-admin@admin.com}'
      PGADMIN_DEFAULT_PASSWORD: '${PGADMIN_PASSWORD:-admin}'
    ports:
      - '5050:80'
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    networks:
      - backend

volumes:
  postgres_data:
  pgadmin_data:

networks:
  backend:
