version: "3.9"

services:
  postgres:
    container_name: "postgres"
    image: "postgres:16"
    restart: always
    environment:
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "secret_pass"
      POSTGRES_DB: "budget"
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - backend

volumes:
  postgres_data:

networks:
  backend:
